---
layout: default
cover: '/assets/images/cover8.jpg'
class: 'home-template'
navigation: True
current: home
---
<!-- < default -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ page.cover }}) {% else %}no-cover{% endif %}">
    {% include nav.html%}
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.title }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-under" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
    {% include loop.html %}
</main>