    <!--&lt;!&ndash; Google Adsense 자동 광고 &ndash;&gt;-->
    <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
    <!--<script>-->
        <!--(adsbygoogle = window.adsbygoogle || []).push({-->
            <!--google_ad_client: "ca-pub-3485237333783930",-->
            <!--enable_page_level_ads: true-->
        <!--});-->
    <!--</script>-->

       <!-- Google Adsense - AMP 광고 Head -->
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
