    <!-- Google Adsense - AMP 광고 Body -->
    <amp-auto-ads type="adsense"
                  data-ad-client="ca-pub-3485237333783930">
    </amp-auto-ads>

    <!-- Google Adsense - 콘텐츠 내 자동 삽입 광고 -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
         style="display:block; text-align:center;"
         data-ad-layout="in-article"
         data-ad-format="fluid"
         data-ad-client="ca-pub-3485237333783930"
         data-ad-slot="8407350745"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <!-- Google Adsense - AMP 광고 -->
    <amp-ad width="100vw" height=320
            type="adsense"
            data-ad-client="ca-pub-3485237333783930"
            data-ad-slot="9606426933"
            data-auto-format="rspv"
            data-full-width>
        <div overflow></div>
    </amp-ad>