---
layout: default
title: Author
cover: '/assets/images/cover4.jpg'
class: 'author-template'
navigation: True
label: Author
current: author
logo: '/assets/images/pkgonan-logo.png'
<!-- permalink: /author/:username -->
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {% else %}no-cover{% endif %}">
        {% include nav.html %}
    </header>

    <section class="author-profile inner">
        {% if site.data.authors[page.author].image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.data.authors[page.author].image }})"><span class="hidden">{{ site.data.authors[page.author].nickname }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h3 class="author-title">{{ site.data.authors[page.author].name }}</h3>
        <h6 class="author-title">{{ site.data.authors[page.author].nickname }}</h6>
        {% if site.data.authors[page.author].bio %}
            <h2 class="author-bio">{{ site.data.authors[page.author].bio }}</h2>
        {% endif %}
        <div class="author-meta">
            {% if site.data.authors[page.author].position %}<span class="author-location icon-position">{{ site.data.authors[page.author].position }}</span>{% endif %}
            {% if site.data.authors[page.author].github %}<a href="{{ site.data.authors[page.author].github }}"><span class="author-link icon-github"></span></a>{% endif %}
            {% if site.data.authors[page.author].linkedin %}<a href="{{ site.data.authors[page.author].linkedin }}"><span class="author-link icon-linkedin"></span></a>{% endif %}
            {% if site.data.authors[page.author].facebook %}<a href="{{ site.data.authors[page.author].facebook }}"><span class="author-link icon-facebook"></span></a>{% endif %}
            {% if site.data.authors[page.author].twitter %}<a href="{{ site.data.authors[page.author].twitter }}"><span class="author-link icon-twitter"></span></a>{% endif %}
            {% if site.data.authors[page.author].url %}<a href="{{ site.data.authors[page.author].url }}"><span class="author-link icon-link"></span></a>{% endif %}
        </div>
        <span class="author-meta author-stats">{% if paginator.total_posts == 0 %}작성한 글이 없습니다.{% else %}{{ paginator.total_posts }}개의 글{% endif %}</span>
    </section>
<!-- /author -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs  -->
    {% include loop.html %}

</main>
